@media (min-width: 1200px) {
    .container-large {
        max-width: 1250px;
        width: 100%;
    }
}
@media only screen and (max-width:1199px){
    .menu ul li a{
        padding: 7px 0px;
    }
    .contact_detail{
        float: left;
        margin-top: 30px;
    }
    .wellcome-txt {
        font-size: 30px;
    }
    .welcome-box{
        padding: 0;
    }
    .purchase_txt p {
        font-size: 25px;
    }  
    .purchase_box {
        margin-top: 30px;
    }
}
@media only screen and (max-width:991px){
    .margin_top {
        padding-top: 25px;
    }
    .welcome {
        padding-bottom: 25px;
    }
    .pricing-option {
        font-size: 16px;
    }
    .pricing-footer .btn_color {
        font-size: 14px;
    }
    .menu ul li {
        margin: 0 7px;
        padding: 0px;
    }
    .portfolio-btn {
        padding-top: 20px;
    }
    .menu ul li a {
        font-size: 13px;
    }
    .welcome-txt h2 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 30px;
    }

    .welcome-text, .box-title p, .signature-img, .services_box, .blog-box, .pricing-footer, .slz-footer-categories {
        margin-bottom: 30px;
    }
    .wellcome-txt, .purchase_txt, .purchase_btn, .footer-border p, .social-icon, .services_txt {
        text-align: center;
    }
    .about_box {
        padding: 30px 15px;
    }
    .our_team {
        margin-top: 0;
        padding: 30px 0;
    }
    .social-icon ul {
        margin: 0 auto;
        width: 100%;
    }    
    .pricing{
        background: #fff;
        padding: 25px 0 0;
    }
    .video-play .fa {
        top: -7%;
    }
    .purchase_box {
        margin-top: 0;
    }
    .contact-box {
        margin-top: 10px;
        text-align: center;
    }
	a.btn-readmore {
		margin-top: 0;
	}
	.services-section .welcome-text {
		margin-bottom: 10px;
	}
	.services-section  .service-block{
		margin-bottom:30px;
	}
}
@media only screen and (max-width:767px){
    .logo {
        margin: 15px;
        float: left;
    }
    .header.fixed, .menu {
        padding: 0px;
    }
    .logo a img {
        margin: 0;
        text-align: left;
        width: 70%;
    }
    .btn_menu {
        background: #fe5e3e none repeat scroll 0 0;
        margin-bottom: 18px;
        margin-top: 18px;
    }
    .owo_slider a.left, .owo_slider a.right {
        height: 40px;
        width: 40px;
    }
    .owo_slider .left .fa, .owo_slider .right .fa {
        font-size: 27px;
        line-height: 37px;
    }
    .owo_slider .right .fa {
        padding-left: 2px;
    }
    .owo_slider .left .fa {
        padding-right: 2px;
    }
    .top-menu {
        min-height: 63px;
    }
    .call-box ul, .right-menu ul{
        margin: 0 auto;
        display: table;
    }
    .call-box ul li, .right-menu ul li{
        float: left;
    }
    .btn_menu span, .menu{
        background: #fff;
    }
    .menu ul {
        margin: 0;
    }
    .menu ul li {
        border-bottom: 1px solid #FE5E3E;
        padding: 5px 15px;
        margin: 0;
    }
    .menu ul li a{
        font-size: 16px;
    }
    .menu ul li a, .menu ul li:last-child, .search-box, .search {
        width: 100%;
    }
    .menu ul li a:hover, .menu ul li a.active {
        font-weight: normal;
    }
    .search-icon, .search_box{
        display: none !important;
    }
    .search{
        display: block !important;
    }
    .menu ul li:last-child {
        margin: 0;
        float: left;
    }
    .search-box1, .fixed .search-box1 {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        float: left;
        height: auto;
        padding: 15px 0;
        position: relative;
        top: 0;
    }
    .search-box1::before {
        border-bottom: 0 none;
    }
    .btn-search {
        padding: 3px 12px;
    }
    .box-title h1, .pricing-title h2, .pricing-section {
        font-size: 25px;
    }
    .pop-box .fa-search-plus, .pricing-section span {
        font-size: 38px;
    }
    .pricing-footer .btn_color, .pricing-option, .portfolio-btn .btn_color, .contact-box .btn_color {
        font-size: 14px;
    }
    .pricing-option, .pricing {
        padding: 10px 0;
    }
    .portfolio-btn{
        padding-top: 20px;
    }
    .our_team .owl-theme .owl-controls {
        margin: 20px auto;
    }
    .down-arrow {
        bottom: 10px;
        right: 10px;
    }
    .down-arrow:hover {
        bottom: 20px;
    } 
    .about_small_box{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media only screen and (max-width:640px){
    .video-img {
        background: rgba(0, 0, 0, 0) url("../image/about-img.png") no-repeat scroll center top / 100% auto;
        padding: 3.7% 0 8%;
    }
    .video-play .video-img img {
        width: 71%;
    }
	.box-title, .video-area-text {
		margin-bottom: 30px;
	}
}  
@media only screen and (max-width:550px){
    .full_width{
        width: 100%;
    }
    .personal_box .img_box img {
        width: 60%;
    }
    .purchase_txt p {
        font-size: 18px;
    }
    .welcome-box p, .button{
        font-size: 14px;
    }
    .services_txt .btn_color, .pricing-footer .btn_color, .portfolio-btn .btn_color, .contact-box .btn_color {
        padding: 12px 15px;
    }
    .portfolio .element-item {
        clear: both;
        width: 50%;
    }
    .about_box {
        padding: 15px;
    }
    .button{
        padding: 0 10px;
    }
    .welcome-txt h2 {
        font-family: 'latoregular';
    }
    .down-arrow {
        bottom: 20px;
        right: 20px;
    }
    .pricing-body {
        height: 220px;
        overflow: hidden;
    }
    .big-demo {
        margin: 30px 0 0;
    }
    .pricing{
        background: none;
    }
    .personal_box .img_box img {
        width: auto;
    }
    .personal_box {
        background-color: #fff;
        border-radius: 30px;
        float: left;
        width: 100%;
    }
    .personal_box .img_box {
        padding: 15px 0;
    }
    .pricing-title h2, .personal_box {
        margin: 0 0 20px;
    }
    .pricing-option, .welcome-txt h2{
        font-size: 16px;
    }
    .pricing_box{
        padding: 0;
    }
    .wellcome-txt {
        font-size: 24px;
    }
}
@media only screen and (max-width:480px){
    .full_width1{
        width: 100%;
    }
    .video-play .fa {
        font-size: 27px;
        height: 65px;
        line-height: 60px;
        width: 65px;
    }
	.js-radio-button-group button.button {
		max-width:130px;
	}
}
@media only screen and (max-width:360px){
    .call-box ul li a, .call-box ul li a .fa {
        font-size: 12px;
    }
    .call-box ul li a {
        padding: 10px 5px;
    }
    .footer-content-box {
        margin: 0 0 20px;
    }
    .button {
        padding: 0 5px;
    }

}