/*------------------------------------------------------------------
[Master Stylesheet]
Project		: OWO - Professional Multi Purpose Business HTML Template
Version		: 1.0
Last change	: 25/04/2017
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Header 
2.1 Top Header
3. Navigation
4. Slider
5. About Us Section
6. Our Service Section
6.1 Purchase Section
7. Pricing Section
8. Portfolio Section
9. Our Team Section
10. Blog Section
11. Contact Us Section
12. Footer
-------------------------------------------------------------------*/
@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato-regular-webfont.woff2') format('woff2'),
        url('../fonts/lato-regular-webfont.woff') format('woff'),
        url('../fonts/lato-regular-webfont.ttf') format('truetype'),
        url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoblack';
    src: url('../fonts/lato-black-webfont.eot');
    src: url('../fonts/lato-black-webfontd41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato-black-webfont.woff2') format('woff2'),
        url('../fonts/lato-black-webfont.woff') format('woff'),
        url('../fonts/lato-black-webfont.ttf') format('truetype'),
        url('../fonts/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfontd41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato-light-webfont.woff2') format('woff2'),
        url('../fonts/lato-light-webfont.woff') format('woff'),
        url('../fonts/lato-light-webfont.ttf') format('truetype'),
        url('../fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'volkhovregular';
    src: url('../fonts/volkhov-regular-webfont.eot');
    src: url('../fonts/volkhov-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/volkhov-regular-webfont.woff2') format('woff2'),
        url('../fonts/volkhov-regular-webfont.woff') format('woff'),
        url('../fonts/volkhov-regular-webfont.ttf') format('truetype'),
        url('../fonts/volkhov-regular-webfont.svg#volkhovregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
    font-family: 'latoregular';
    margin: 0 auto;
    padding: 0;
    width: 100%;		
}
a,a:hover, a:focus{
    text-decoration: none;
    outline: none;
}
img{
    margin: auto;
}
.loader-box{
    background-color: #fff;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999999;
}
.loader img {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}
.top-header, .margin_top, .top-header, .header, .pricing_box, .pricing, .slz-footer-categories, 
.footer, .map-box, .google-map, .contact-div .item, .block-title a, .img-box, 
.filter-button-group.button-group.js-radio-button-group, .services_img, .services_img a, .footer-top{
    float: left;
    width: 100%;
}
.margin_top{
    padding-top: 45px;
}
.box-title {
	max-width: 850px;
    margin-left: auto;
	margin-right: auto;
    display: block;
	
}
/****************/
/** 2. Header **/
/****************/


.logo a{
    height: auto;
    padding: 0;
    margin: 0 !important;
}
.owo_slider {
    margin-top: 73px;
}

/*******************/
/** 3. Navigation **/
/*******************/

.header {
    padding: 14px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    -o-transition: padding .3s;
    transition: padding .3s;
}
.header.fixed{
    position: fixed;
    z-index: 999;
    width: 100%;
    background: #fff;
    padding: 7px 0;
    box-shadow: 0 0 5px #ccc;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    -o-transition: padding .3s;
    transition: padding .3s;	
}
.navbar.top-menu {
    margin-bottom:0;
}
.menu {
    margin-right: -15px !important;
}
.menu ul{
    margin: 12px 0;
    padding: 0;
}
.menu ul li{
    margin: 0 12px;
    padding: 0px;
}
.menu ul li:last-child{
    margin: 0 0 0 12px;
}
.menu ul li a{
    font-size: 18px;
    color: #27313d;
    display: inline-block;
    padding: 7px 5px;
}
.menu ul li a:hover, .menu ul li.active a{
    color: #fe5e3e;
}
.menu ul li a:hover{
    background: none;
}
.nav > li > a:hover, .nav > li > a:focus {
    background: none;
    text-decoration: none;
}
.search-box {
    margin: 0px;
    position: relative;
    z-index: 99999;
    float: left;
}
.search-box .search-icon {
    background-color: #27313d !important;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    height: 35px;
    padding: 0;
    width: 35px;
}
.search-box .search-icon:hover{
    background: #fe5e3e !important;
    color: #fff;
}
.search-box1 {
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 124px;
    z-index: 9999;
    background: #fe5e3e;
    padding: 30px 0;
    height: 106px;
}
.arrow:before {
    content: "";
    border-bottom: 20px solid #fe5e3e;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    right: 13px;
    top: -45px;
    z-index: 9;
}
.fixed .search-box1 {
    top: 75px;
}
.search{
    display: none !important;
}
.search-box .active .fa-search{
    display: none;
}
.search-box .active .fa-times{
    transition: all 0.3s ease 0s;
    display: block;
    padding: 7px;
}
.search-box .fa-times{
    display: none;
}
.btn-search {
    background-color: #27313d;
    border: 1px solid #27313d;
    padding: 9px 12px;
    color: #fff;
    font-size: 18px;
    transition: all 0.3s ease 0s;
}
.btn-search:hover, .btn-search:focus{
    background-color: rgba(39, 49, 61, 0.7);
    border: 1px solid rgba(39, 49, 61, 0.7);
    color: #fff;
}
button.btn.btn-default.search-icon {
    outline: none;
    color: #fff;
}
.btn:hover:focus {
    outline: none;
}

/*******************/
/**** 4. Slider ****/
/*******************/

.owo_slider a{
    margin: auto;
}
.owo_slider a.left, .owo_slider a.right{
    background-color: #364251;
    border-radius: 50%;
    height: 60px;
    width: 60px;

}
.owo_slider .right{
    right: 30px;
}
.owo_slider .left{
    left: 30px;
}
.owo_slider .left .fa, .owo_slider .right .fa{
    line-height: 58px;
}
.owo_slider .left .fa{
    padding-right: 4px;
}
.owo_slider .right .fa{
    padding-left: 4px;
}

/*****************************/
/**** 5. Welcome Section ****/
/***************************/

.welcome{
    background: url('../image/welcome-bg.png') no-repeat bottom center;
    padding-bottom: 60px;
}
.welcome-txt h2{
    color: #27313d;
    font-size: 27px;
    font-family: 'latoblack';
    line-height: 35px;
    margin-bottom: 70px;
}
.welcome-txt h2 span{
    color: #fe5e3e;
}
.welcome-img{
    margin: 0 auto;
}
.welcome-img img{
    margin: 0 auto;
}
.welcome-title h2{
    color: #27313d;
    font-size: 20px;
    font-family: 'latoblack';
}
.welcome-text, .box-title p{
    color: #595959;
    font-size: 16px;
	line-height: 1.5em;
}
a.btn-readmore {
    color: #333;
    text-align: center;
    float: left;
    width: 100%;
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: bold;
}
a.btn-readmore:hover {
	color: #fe5e3e;
}
/*****************************/
/**** 6. About Us Section ****/
/***************************/

.box-title, .video-area-text{
    margin-bottom: 50px;
}
.video-img{
    background: url('../image/about-img.png') no-repeat top center;
    padding: 21px 0 48px;
}
.box-title h1{
    color: #27313d;
    font-size: 35px;
    font-family: 'volkhovregular';
    font-weight: bold;
}
.video-section{
    margin-bottom: 60px;
}
.video-play .video-img img{
    display: inline-block;
}
.video-play .fa {
    border: 3px solid #27313d;
    border-radius: 50%;
    bottom: 0;
    color: #27313d;
    height: 85px;
    left: 0;
    line-height: 79px;
    margin: auto;
    position: absolute;
    right: 0;
    text-indent: 8px;
    top: -15%;
    width: 85px;
}
.video-area-text a:hover .fa-play{
    color: #fe5e3e;
    border: 3px solid #fe5e3e;
}
.welcome-box{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.wellcome-txt{
    font-size: 27px;
    font-family: 'latoblack';
    color: #27313d;
    margin-bottom: 15px;
}
.wellcome-txt span{
    color: #fe5e3e;
}
.welcome-box p{
    color: #595959;
    font-size: 16px;
    font-style: italic;
    line-height: 25px;
    text-align: justify;
    padding-bottom: 20px;
}
.about_small_box{
    background-color: #f0f0f0;
}
.about_box{
    border-right: 1px solid #fff;
    padding: 50px;
}
.icon_box .fa{
    color: #fe5e3e;
    font-size: 50px;
}
.about_title{
    font-size: 22px;
    color: #27313d;
    font-family: 'volkhovregular';
    font-weight: bold;
    margin-bottom: 20px;
}
.about_txt{
	font-size: 16px;
    color: #595959;
    line-height: 1.7em;
}

/*****************************/
/**** 7. Our Service Section ****/
/***************************/
.services_img a{
    background-color: #27313d;
}
.services_img a img{
    opacity: 1;
}
.services_img a:hover img{
    opacity: 0.5;
}
.services_txt h4{
    color: #27313d;
    font-size: 18px;
    font-family: 'volkhovregular';
    font-weight: bold;
    margin: 20px 0;
}
.services_txt p{
    font-size: 16px;
    color: #595959;
	line-height: 1.7em;
    font-family: "latoregular";
}
.services_txt .btn_color{
    padding: 10px 16px !important;
}
.services_txt .btn_color, .pricing-footer .btn_color, .portfolio-btn .btn_color, .contact-box .btn_color {
    background: #fe5e3e;
    color: #fff;    
    font-weight: bold;
    border: none;
    padding: 15px 20px;
}
.services_txt .btn_color:hover, .pricing-footer .btn_color:hover, .portfolio-btn .btn_color:hover, .contact-box .btn_color:hover{
    background: #27313d;
}
.services_txt .btn_color {
	margin-top: 10px;
}

/*****************************/
/**** 7.1 Purchase Section ****/
/***************************/

.purchase_box{
    background: #f0f0f0;
    margin-top: 70px;
    padding: 45px 0;
}
.purchase_txt p{
    font-size: 34px;
    color: #686868;
    font-family: 'latolight';
    margin-bottom: 0;
}
.purchase_txt p span{
    color: #fe5e3e;
    font-family: 'latoregular';
	
}
.purchase_btn a{
    background: #fe5e3e;
    border: none;
    font-size: 16px;
    box-shadow: 0 3px 0px #b9290c;
    color: #fff;
	margin-top: 4px;
}
.purchase_btn a:hover{
    color: #fff;
    background: #27313d;
    box-shadow: 0 3px 0px #1a222c;
}

/***********************/
/* 8. Pricing Section */
/**********************/

.pricing_box{
    background-color: #27313d;
    padding-bottom: 70px;
}
.pricing_title h1, .pricing_title p{
    color: #fff;
}
.pricing{
    background: #fff url('../image/pricing-bg.png') no-repeat center;
    border-radius: 30px;
    padding: 55px 0;
}
.personal_box .img_box{
    text-align: center;
}
.personal_box .img_box img{
    margin: 0 auto;
}
.pricing-title{
    color: #27313d;
    font-size: 35px;
    font-family: 'latoblack';
}
.sup-box{
    top: -25px;
}
.pricing-section{
    color: #fe5e3e;
    font-size: 40px;
    font-family: 'latoblack';
}
.pricing-section span{
    color: #fe5e3e;
    font-size: 60px;
}
.pricing-option{
    padding: 15px 0;
    font-size: 20px;
    color: #686868;
}
.pricing-footer {
    margin-top: 15px;
}
.pricing-footer .btn_color{
    font-size: 16px;
}

/***********************/
/* 9. Portfolio Section */
/**********************/
.big-demo .grid{
	float:left;
	width:100%;
	
}
.filter-button-group.button-group.js-radio-button-group {
    margin: 0 auto 50px;
    text-align: center;    
    position: relative;
	padding: 0 15px;
}
.button{
    background: #fff;
    border: none;
    font-weight: bold;
    font-size: 18px;
    padding: 0 15px;
}
.js-radio-button-group button.button {
	max-width: 150px;
    width: 100%;
    background-color: #27313d;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
	color:#ffffff;
	margin-bottom: 3px;
}
.js-radio-button-group button.button.current,
.js-radio-button-group button.button:hover {
	background-color: #fe5e3e;
}
.portfolioContainer {
	float:left;
	width:100%;
}
button.button {
	outline: none;
}
.button:hover, .is-checked{
    color: #fe5e3e;
}
.btn-default:active:hover {
	color: #ffffff;
}
button.button.is-checked:focus {
    outline: none;
}
.element-item a .pop-box {
    background: rgba(254, 94, 62, 0.5);
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.4s ease 0s;
    vertical-align: middle;
}
.element-item {
	padding-left:0;
	padding-right:0;
}
.element-item a:hover .pop-box{
    display: block;
    transition: all 0.3s ease 0s;
}
.pop-box:hover .fa{
    top: -3%;
}
.pop-box .fa {
    bottom: 0;
    color: #fff;
    font-size: 48px;
    left: 0px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    transition: all 0.4s ease 0s;
}
.portfolio-btn {
    padding-top: 40px;
}
.portfolio-btn .btn{
    font-size: 18px;
}
.portfolio-btn .btn_color, .contact-box .btn_color{
    font-size: 16px;
}

/***********************/
/* 10. Our Team Section */
/**********************/

.our_team.orange{
    background-color: #FE5E3E;
    padding: 40px 0 60px;
    margin-top: 45px;
	float: left;
    width: 100%;
}
/*---team section ---*/
#owl-demo .item {
    margin: 15px;
}
.our_team.orange  h1,
.our_team.orange  p {
	color: #fff;
}
.team-box,
.our_team.orange .owl-theme .owl-controls .owl-page.active span,.our_team.orange .owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #fff;
    padding:0;
}
.team-box:hover {
    cursor: pointer;
}
.team-box .team-img {
    margin: auto;
}
.team-box h2{
    font-weight: bold;
    color: #fe5e3e;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 0;
}
.team-body{
    padding: 0 15px 15px;
}
.img-box {
    display: table;
    position: relative;
}
.team-box .social-box{
    background-color: rgba(254, 94, 62, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 0;
    opacity: 0;
}
.team-box .social-box ul {
    bottom: 0;
    left: -35px;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: calc(50% - 9px);
}
.team-box .social-box ul li {
    width: 30px;
    height: 30px;
}
.team-box .social-box ul li a{
    font-size: 18px;
    color: #333333;
    width: 30px;
    height: 30px;
    opacity: 0;
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    padding: 3px;
    transform: translateY(100px);
    transition: background-color 0.3s ease 0s, opacity 0.3s ease 0s, transform 0.7s ease 0s;
}
.team-box:hover  .social-box ul li a.facebook{
    transition: background-color 0.3s ease 0s, opacity 0.3s ease 0s, transform 0.1s ease 0s;
}
.team-box:hover  .social-box ul li a.twitter{
    transition: background-color 0.3s ease 0s, opacity 0.3s ease 0s, transform 0.3s ease 0s;
}
.team-box:hover  .social-box ul li a.skype{
    transition: background-color 0.3s ease 0s, opacity 0.3s ease 0s, transform 0.5s ease 0s;
}
.team-box:hover  .social-box ul li a.linkedin{
    transition: background-color 0.3s ease 0s, opacity 0.3s ease 0s, transform 0.7s ease 0s;
}
.social-box ul li a:hover{
    color: #fe5e3e;
    background: #fff !important;
}
.team-box:hover .social-box{
    opacity: 1;
    transform: scale(1);
}
.team-box:hover .social-box ul li a {
    opacity: 1;
    transform: translateY(0px);
    transition: background-color 0.3s ease 0s, opacity 0.3s ease 0.2s, transform 0.5s ease 0.2s;
}

/*******************/
/* 11. Blog Section */
/*******************/

.blog-box{
    background: #f0f0f0;
}
.block-content{
    padding: 30px 15px 20px;    
}
.date-time,
.date-time span a{
    color: #fe5e3e;
    font-size: 13px;
	margin: 0 0 10px 0;
	font-weight:bold;
}
.block-title a,
.date-time span a:hover {
    color: #27313d;
}
.block-title {
	display: inline-block;
}
.block-title a{
	font-size: 20px;
    margin: 0;
    overflow: hidden;
    font-weight: bold;
}
.block-info ul li:last-child {
    float: right;
}
.block-title a:hover, .date-time a:hover{
    color:#fe5e3e;
}
.block-text p{
    font-size: 14px;
    color: #595959;
	line-height: 1.7em;
}
.block-info ul li a{
    font-size: 14px;
    color: #595959;
}
.block-info ul li a:hover{
    color: #fe5e3e;
}

/***************************/
/* 12. Contact Us Section */
/*************************/

.contact{
    margin-top: 70px;
}
.contact-us-section {
	background-color:#F0F0F0;
	padding-bottom: 60px;
}
.contact-div {
    float: left;
    margin-top: 40px;
}
.contact-div textarea {
    resize: vertical;
}
.contact-form h2{
    font-weight: bold;
    color: #333;
}
.contact-form span.contact-line{
    height: 3px;
    width: 50px;
    background-color: #00b2e9;
    float: left;
    margin-bottom: 15px;
}
.contact-div .item{
    color: #595959;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-left: 50px;
    position: relative;
}
.contact-div .item .icons {
    background-color: #fff;
    bottom: 0;
    height: 40px;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 40px;
}
.item .icons{
    color: #27313d;
    font-size: 20px;
    float: left;
    line-height: 40px;
}
.item .fa-envelope{
    font-size: 18px;
}
.contact-info{
    margin-left: 10px;
    float: left;
}
.contact-info a{
    color: #595959;
    font-size: 18px;
}
.contact-info a:hover{
    color: #fe5e3e;
}
.contact-social ul{
    margin: 50px 0 0;
    float: left;
}
.contact-social ul li a{
    font-size: 18px;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #009dcd;
    padding: 5px;
}
.contact-social ul li a:hover{
    color: #fff;
}
.contact-form input, .contact-form textarea{
    border: none;
    border-radius: 0;
    color: #595959;
    font-size: 14px;
}
.map-box{
    border: 5px solid #fff;
    background: #fff;
    overflow: hidden;
}
.google-map {
    display: table;
    height: 390px;
}

/***************************/
/******* 13. Footer *******/
/*************************/

.footer {
    background-color: #222222;
}
.footer-top {
    background-image: url("../image/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    position: relative;
    overflow: hidden;    
}
.footer-top div.full_width {
    margin-bottom:40px;
}
.footer-logo {
    margin-bottom: 10px;
}
.footer-logo img{
    text-align: left;
    margin: 0;
}
.footer-content .footer-description{
    color: #b7b7b7;
    font-size: 14px;
    text-align: justify;
}
.footer-title{
    color: #fff;
    margin-bottom: 30px !important;
    margin: 0;
    font-size: 20px;
    font-family: 'volkhovregular';
}
.footer-content ul{
    width: 50%;
    float: left;
}
.footer-content ul li a{
    color: #b7b7b7;
    font-size: 14px;
    border-bottom: 1px solid #5f5f5f;
    margin-right: 20px;
    padding-left: 0;
    border-radius: 0;
}
.footer-content ul li a:hover{
    color: #fe5e3e;
    background: none;
    border-bottom: 1px solid #fe5e3e;
}
.footer-content-box {
    margin: 0 -5px;
}
.footer-content-box ul li {
    padding: 4px;
    position: relative;
}
.footer-content-box ul li a{
    background: #000;
}
.footer-content-box ul li a img{
    transition: all 0.4s ease-out 0s;
}
.footer-content-box ul li a:hover img{
    opacity: 0.4;
}
.textfooter p{
    color: #b7b7b7;
    font-size: 14px;
}
.footer-border {
    background: #3a4655;
    padding: 15px 0;
}
.footer-border p {
    color: #b7b7b7;
    line-height: normal;
    margin: 0 ;
    font-size: 14px;
    padding-top: 15px;
}
.footer-border p span a{
    color: #fe5e3e;
}
.footer-border p span a:hover{
    color: #FFF;
}
.social-icon ul{
    margin: 0;
}
.social-icon ul li{
    margin: 0;
    padding: 0 3px;
}
.social-icon ul li a{
    color: #fff;
    font-size: 24px;
    width: 44px;
    height: 44px;
    padding: 5px;
    line-height: 44px;
}
.social-icon ul li a.facebook{
    background: #1b3988;
}
.social-icon ul li a.twitter{
    background: #1d81f2;
}
.social-icon ul li a.pinterest{
    background: #ab2026;
}
.social-icon ul li a.skype{
    background: #0b8ff2;
}
.social-icon ul li a.linkedin{
    background: #004b87;
}
.facebook:hover{
    background: #3b5998 !important;
}
.twitter:hover{
    background: #1da1f2 !important;
}
.pinterest:hover{
    background: #cb2026 !important;
}
.skype:hover{
    background: #0bbff2 !important;
}
.linkedin:hover{
    background: #017bb7 !important;
}
.down-arrow {
    bottom: 30px;
    display: inline-block;
    position: fixed;
    right: 30px;
    text-align: center;
    z-index: 999;
    display: none;
    transition: all 0.4s ease 0s;
}
.down-arrow a {
    background-color: #fe5e3e;
    border: 2px solid #FFF;
    color: #FFF;
    display: inline-block;
    font-size: 18px;
    height: 55px;
    line-height: 50px;
    padding: 0;
    text-align: center;
    width: 40px;
    border-radius: 20px;
    transition: all 0.4s ease 0s;
}
.down-arrow a:hover{
    background-color: rgba(51, 51, 51, 0.6);
    color: #FFF;    
}
.down-arrow:hover {
    bottom: 40px;
}
.footer-content-box ul {
    margin: 0;
}
.footer-popup-images img {
    height: 76px;
}